.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 4px;
    background: #00e1ff;
    transition: 0.2s;
    margin-top: -1px;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-link {
    padding: 35px 5px;
    transition: 0.2s;
}

.navbar-nav .nav-link {
    color: rgb(247, 17, 17);
    font-weight: bold;
    font-size: 18px;
}