{% extends 'layout.html' %}
{% block content %}
    <div class="card" style="padding: 20px; background-color: crimson;">
        <blockquote class="blockquote-reverse">
            <p style="font-family: monospace; 
                    font-weight: 600;
                    color: white;
                    font-size: 16px;">
                    <i class="fa fa-quote-left" aria-hidden="true" style="color: white; font-size: 26px;"></i></br>
                    {{ quotes.quote }}</br>
                    <i class="fa fa-quote-right pull-right" aria-hidden="true" style="color: white; font-size: 26px;"></i>
            </p>
            <footer class="blockquote-footer"
                style="color: white;
                        font-size: 20px;
                        font-weight: 500;
                        font-family: 'Inconsolata', monospace;
                        text-align: right;">
                        {{ quotes.author }}
            </footer>
        </blockquote>
    </div>
    </br>
    <div class="text-center">
        <h1 style="font-family: 'Righteous', cursive;">Hello there. Wanna see a trick?</h1>
        <h3 style="font-family: 'Caveat', cursive;">Refresh the page....You saw the new quote right?</h3>
        <h4 style="font-family: 'BenchNine', sans-serif;">Enjoy yourself...<i class="fa fa-smile-o" aria-hidden="true"></i></h4>
    </div>
{% endblock %}