{% extends 'layout.html' %}
{% block content %}
    <div class="card" style="padding: 20px; background-color: crimson;">
        <blockquote class="blockquote-reverse">
            <p style="font-family: monospace; 
                    font-weight: 600;
                    color: white;
                    font-size: 16px;">
                    <i class="fa fa-quote-left" aria-hidden="true" style="color: white; font-size: 26px;"></i></br>
                    {{ quotes.quote }}
            </p>
            <footer class="blockquote-footer"
                style="color: white;
                        font-size: 20px;
                        font-weight: 500;
                        font-family: 'Inconsolata', monospace;">
                        {{ quotes.author }}
            </footer>
        </blockquote>
    </div>
{% endblock %}